/* Table of Contents */
/* 1. Global Styles */
/* 2. Header Styles */
/* 3. Main Styles */
/* 4. Nav Styles */
/* 5. Footer Styles */

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(211, 211, 211);
}

.profile-section {
  padding: 1rem;
}

.profile-pic {
  border-radius: 50%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav-wrapper {
  grid-column: 1/2;
  background-color: rgb(51, 50, 50);
  color: white;
}

.nav-list {
  list-style-type: none;
  padding: 1rem;
}

.nav-item {
  padding: 1rem;
}

.nav-item:hover {
  background-color: rgb(137, 22, 22);
  border-radius: 3px;
}

.nav-link {
  color: white; /* Set the text color to white */
  text-decoration: none; /* Optional: Removes the underline from links */
}
