/* Table of Contents */
/* 1. Global Styles */
/* 2. Header Styles */
/* 3. Main Styles */
/* 4. Nav Styles */
/* 5. Footer Styles */

.dashboard-body {
  display: grid;
  grid-template-areas:
    "sidenav header"
    "sidenav main";
}

/* Header Styles */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(211, 211, 211);
}

.main {
  grid-area: main;
}

.profile-section {
  padding: 1rem;
}

.profile-pic {
  border-radius: 50%;
}

.side-nav {
  grid-area: sidenav;
  background-color: rgb(51, 50, 50);
  color: white;
  height: 100%;
}

.nav-title {
  padding: 1rem 2rem;
}

.nav-list {
  list-style-type: none;
  padding: 1rem 2rem;
}

.nav-item {
  padding: 1rem 0;
}

.nav-item:hover {
  background-color: rgb(137, 22, 22);
  border-radius: 3px;
}

.nav-link {
  color: white; /* Set the text color to white */
  text-decoration: none; /* Optional: Removes the underline from links */
}

.main-content-wrapper {
  padding: 1rem;
}

.inventory-form-wrapper {
  max-width: 1200px; /* Adjust based on your preference */
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between form groups */
}

.inventory-form-input-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 180px; /* Adjust minimum width of each group here */
  min-width: 180px; /* Ensures that the input group does not shrink below this width */
}

.inventory-form-input-group label,
.inventory-form-input-group input[type="text"],
.inventory-form-input-group input[type="month"],
.inventory-form-input-group input[type="checkbox"],
.inventory-form-input-group textarea {
  width: 100%; /* Ensures inputs and labels take up full width of their parent */
  margin-bottom: 8px; /* Space between label and input */
}

.inventory-form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  flex: 0 1 auto; /* Button does not grow but can shrink */
}
